<h3>Add a Dragon!</h3>
<form method="POST" action="">
    <input type="text" name="dragonName" value="">
    <br>
    <input type="text" name="rider" value="">
    <br>
    <input type="text" name="identification" value="">
    <br>
    <input type="text" name="house" value="">
    <br>
    <input type="submit" value="Submit">
</form>

