<!DOCTYPE html>
<head>
    <link rel = "stylesheet" href = "../css/styles.css">
    <img src ="../img/header.jpg">
    <title></title>
    <h1>House of the Dragon</h1>
    
</head>
<body>
    {{{body}}}
    <footer>
        <a href = "/">Home</a>
        <br>
        <a href = "/dragon">add dragons</a>
        <br>
        <a href = "/stats">stats</a>
    </footer>
</body> 
</html>